/* lexend-deca-regular - latin */
@font-face {
  font-family: "Lexend Deca";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/lexend-deca-v17-latin-regular.woff2") format("woff2"), url("../fonts/lexend-deca-v17-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* lexend-deca-600 - latin */
@font-face {
  font-family: "Lexend Deca";
  font-style: normal;
  font-weight: 600;
  src: local(""), url("../fonts/lexend-deca-v17-latin-600.woff2") format("woff2"), url("../fonts/lexend-deca-v17-latin-600.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* space-mono-regular - latin */
@font-face {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/space-mono-v12-latin-regular.woff2") format("woff2"), url("../fonts/space-mono-v12-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* space-mono-700 - latin */
@font-face {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/space-mono-v12-latin-700.woff2") format("woff2"), url("../fonts/space-mono-v12-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.body {
  font-family: "lexend deca", sans-serif;
}

a {
  text-decoration: none;
  list-style: none;
}

ul,
ol {
  list-style-type: none;
  text-decoration: none;
}

.header {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

.main {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  max-width: 1440px;
  margin: 20px auto;
  padding: 0 20px;
}

.header-pictures {
  display: none;
}

.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-list-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

.header-title {
  font-family: "lexend deca", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  color: #939caa;
}
.header-title:hover {
  color: #fcb72b;
}

.header-button {
  font-family: "lexend deca", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  color: #f5f5f5;
  background-color: #fcb72b;
  padding: 10px 20px;
}
.header-button:hover {
  color: #fcb72b;
  background-color: #f5f5f5;
  border: 3px solid #fcb72b;
  padding: 10px 20px;
}

.hero {
  margin-top: 20px;
  background-image: url("Bitmap.jpg");
  background-color: #2f3b59;
  height: 600px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-wrapper {
  display: block;
  text-align: start;
  width: 645px;
  padding-top: 150px;
  padding-left: 165px;
}

.hero-title {
  font-family: "Space Mono", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 56px;
  color: #f5f5f5;
  padding-bottom: 40px;
}

.hero-subtitle {
  font-family: "lexend deca", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  color: #f5f5f5;
  padding-bottom: 40px;
  padding-left: 40px;
}

.hero-button {
  font-family: "Space Mono", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: #f5f5f5;
  background-color: #fcb72b;
  padding: 10px 20px;
  margin-left: 40px;
}
.hero-button:hover {
  color: #fcb72b;
  background-color: #f5f5f5;
  border: 3px solid #fcb72b;
  padding: 10px 20px;
}

.hero__wrapper-2 {
  display: none;
}

@media only screen and (max-width: 850px) {
  .hero-wrapper-2 {
    display: block;
    text-align: center;
    padding: 100px 0px 100px;
  }
  .hero-subtitle {
    padding: 0 5px 25px;
  }
  .hero-button {
    margin: 0;
  }
  .hero-wrapper {
    display: none;
  }
}
@media only screen and (max-width: 610px) {
  .header-pictures {
    display: flex;
    align-content: center;
    justify-content: space-evenly;
  }
  .header-wrapper {
    display: none;
  }
  .hero-title {
    font-size: 40px;
    line-height: 40px;
  }
}
.main {
  max-width: 1440px;
  padding: 0 20px;
  margin: 80px auto;
}

.main-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 30px;
}

.main-list {
  display: block;
  text-align: start;
  list-style-type: none;
}

.main-list-title {
  display: block;
  text-align: start;
}

.main-image {
  padding-bottom: 20px;
}

.main-title {
  font-family: "Space Mono", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  padding-bottom: 20px;
  color: #495567;
}

.main-subtitle {
  font-family: "lexend deca", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  color: #939caa;
}

.main-section-1 {
  margin: 120px 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-image-2 {
  border-radius: 230px;
}

.main-wrapper-1 .main_wrapper-list {
  display: block;
  text-align: start;
  max-width: 445px;
}

.main-wrapper-title {
  font-family: "Space Mono", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  color: #495567;
  padding-bottom: 20px;
}

.main-wrapper-subtitle {
  font-family: "lexend deca", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  color: #939caa;
}

.main-wrapper-button {
  font-family: "Space Mono", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: #f5f5f5;
  background-color: #fcb72b;
  padding: 10px 20px;
}
.main-wrapper-button:hover {
  color: #fcb72b;
  background-color: #f5f5f5;
  border: 3px solid #fcb72b;
  padding: 10px 20px;
}

.main-section-1-2 {
  display: none;
}

.main-section-2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 60px 0 60px;
}

.main-wrapper-2-list {
  display: block;
  text-align: start;
  max-width: 445px;
}

.main-wrapper-2-button {
  font-family: "Space Mono", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: #f5f5f5;
  background-color: #fcb72b;
  padding: 10px 20px;
}
.main-wrapper-2-button:hover {
  color: #fcb72b;
  background-color: #f5f5f5;
  border: 3px solid #fcb72b;
  padding: 10px 20px;
}

.main-section-3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-wrapper-3 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 30px;
}

.main-wrapper-3-list {
  display: block;
  text-align: start;
  list-style-type: none;
}

@media only screen and (max-width: 1200px) {
  .main-wrapper {
    display: block;
    width: 600px;
  }
  .main-list {
    display: flex;
    padding: 10px 0 10px;
  }
}
@media only screen and (max-width: 650px) {
  .main-wrapper-2 {
    display: block;
  }
  .main-list {
    display: block;
    text-align: center;
    padding: 10px 0 10px;
  }
  .main-list-title {
    display: block;
    text-align: center;
  }
  .main-image-2 {
    width: 310px;
    height: 310px;
  }
  .main-wrapper-title {
    font-family: "Space Mono", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    color: #495567;
  }
  .main-wrapper-subtitle {
    color: #939caa;
  }
}
@media only screen and (max-width: 820px) {
  .main-section-1-2 {
    display: block;
    text-align: center;
  }
  .main-wrapper-list {
    display: block;
    text-align: center;
  }
  .main-section-2 {
    display: block;
    text-align: center;
  }
  .main-wrapper-2-list {
    display: block;
    text-align: center;
  }
  .main-section-1 {
    display: none;
  }
  .main-section-3 {
    display: none;
  }
}
.footer {
  max-width: 1440px;
  margin: 20px auto;
  padding: 0 20px;
}

.footer__container {
  margin: 100px 0 0;
}

.footer__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #2f3b59;
  padding: 30px 0 30px;
}

.footer__list {
  display: block;
  text-align: center;
}

.footer__title {
  font-family: "Space Mono", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  color: #f5f5f5;
}

.footer__subtitle {
  font-family: "Space Mono", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  color: #f5f5f5;
}

.footer__buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.footer-button {
  font-family: "Space Mono", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 15px;
  color: #939caa;
  background-color: #f5f5f5;
  padding: 10px 20px;
  border-radius: 3px;
}
.footer-button:hover {
  background-color: white;
}

.footer-button > span {
  font-family: "Space Mono", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #939caa;
  background-color: #f5f5f5;
}
.footer-button > span:hover {
  background-color: white;
}

.footer-wrapper2 {
  display: none;
}

.footer-wrapper-2 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #333a44;
  padding: 20px 0 20px;
}

.footer-list-2 {
  display: flex;
  align-items: center;
  gap: 25px;
}

.footer-list-title {
  font-family: "Space Mono", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: #939caa;
}
.footer-list-title:hover {
  color: #fcb72b;
}

.footer-icons {
  display: flex;
  align-items: center;
  gap: 20px;
}

@media only screen and (max-width: 820px) {
  .footer-wrapper2 {
    display: block;
    text-align: center;
    background-color: #2f3b59;
  }
  .footer-title {
    font-family: "Space Mono";
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    color: white;
    color: white;
  }
  .footer-subtitle {
    font-family: "Space Mono";
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    color: white;
    color: white;
  }
  .footer-button {
    font-family: "Space Mono", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 15px;
    color: #939caa;
  }
  .footer-wrapper {
    display: none;
  }
}/*# sourceMappingURL=main.css.map */