.footer {
  max-width: 1440px;
  margin: 20px auto;
  padding: 0 20px;
}
.footer__container {
  margin: 100px 0 0;
}
.footer__wrapper {
  @include flex;
  justify-content: space-evenly;
  background-color: $light-blue;
  padding: 30px 0 30px;
}
.footer__list {
  @include block-2;
}
.footer__title {
  @include text-style__5;
  color: $white;
}
.footer__subtitle {
  @include text-style__5;
  color: $white;
}
.footer__buttons {
  @include flex;
  justify-content: center;
  gap: 30px;
}
.footer__button {
  @include text-style__7;
  color: $grey;
  background-color: $white;
  padding: 10px 20px;
  border-radius: 3px;

  &:hover {
    background-color: $light-white;
  }
}
.footer__button > span {
  @include text-style__8;
  color: $grey;
  background-color: $white;

  &:hover {
    background-color: $light-white;
  }
}
.footer__wrapper2 {
  display: none;
}
.footer__wrapper-2 {
  @include flex;
  justify-content: space-evenly;
  background-color: $black;
  padding: 20px 0 20px;
}
.footer__list-2 {
  @include flex;
  gap: 25px;
}
.footer__list-title {
  @include text-style__2;
  color: $grey;

  &:hover {
    color: $yellow;
  }
}
.footer__icons {
  @include flex;
  gap: 20px;
}

@media only screen and (max-width: 820px) {
  .footer__wrapper2 {
    @include block-2;
    background-color: $light-blue;
  }
  .footer__title {
    @include text-style__9;
    color: $light-white;
  }
  .footer__subtitle {
    @include text-style__9;
    color: $light-white;
  }
  .footer__button {
    @include text-style__7;
    color: $grey;
  }
  .footer__wrapper {
    display: none;
  }
}
