.main {
  max-width: 1440px;
  padding: 0 20px;
  margin: 80px auto;
}
.main__section {
  @include flex;
  justify-content: space-between;
}
.main__wrapper {
  @include flex;
  justify-content: space-evenly;
  gap: 30px;
}
.main__list {
  @include block;
  list-style-type: none;
}
.main__list-title {
  @include block;
}
.main__image {
  padding-bottom: 20px;
}
.main__title {
  @include text-style__4;
  padding-bottom: 20px;
  color: $dark-grey;
}
.main__subtitle {
  @include text-style__1;
  color: $grey;
}
.main__section-1 {
  margin: 120px 0 0;
  @include flex;
  justify-content: space-between;
}
.main__image-2 {
  border-radius: 230px;
}
.main__wrapper-1 {
  .main_wrapper-list {
    @include block;
    max-width: 445px;
  }
}
.main__wrapper-title {
  @include text-style__5;
  color: $dark-grey;
  padding-bottom: 20px;
}
.main__wrapper-subtitle {
  @include text-style__1;
  color: $grey;
}
.main__wrapper-button {
  @include text-style__2;
  color: $white;
  background-color: $yellow;
  padding: 10px 20px;

  &:hover {
    color: $yellow;
    background-color: $white;
    border: 3px solid $yellow;
    padding: 10px 20px;
  }
}

.main__section-1-2 {
  display: none;
}

.main__section-2 {
  @include flex;
  justify-content: space-between;
  margin: 60px 0 60px;
}
.main__wrapper-2-list {
  @include block;
  max-width: 445px;
}
.main__wrapper-2-button {
  @include text-style__2;
  color: $white;
  background-color: $yellow;
  padding: 10px 20px;

  &:hover {
    color: $yellow;
    background-color: $white;
    border: 3px solid $yellow;
    padding: 10px 20px;
  }
}
.main__section-3 {
  @include flex;
  justify-content: space-between;
}
.main__wrapper-3 {
  @include flex;
  justify-content: space-evenly;
  gap: 30px;
}
.main__wrapper-3-list {
  @include block;
  list-style-type: none;
}

@media only screen and (max-width: 1200px) {
  .main__wrapper {
    display: block;
    width: 600px;
  }
  .main__list {
    display: flex;
    padding: 10px 0 10px;
  }
}
@media only screen and (max-width: 650px) {
  .main__wrapper-2 {
    display: block;
  }
  .main__list {
    @include block-2;
    padding: 10px 0 10px;
  }
  .main__list-title {
    @include block-2;
  }
  .main__image-2 {
    width: 310px;
    height: 310px;
  }
  .main__wrapper-title {
    @include text-style__6;
    color: $dark-grey;
  }
  .main__wrapper-subtitle {
    color: $grey;
  }
}
@media only screen and (max-width: 820px) {
  .main__section-1-2 {
    @include block-2;
  }
  .main__wrapper-list {
    @include block-2;
  }
  .main__section-2 {
    @include block-2;
  }
  .main__wrapper-2-list {
    @include block-2;
  }
  .main__section-1 {
    display: none;
  }
  .main__section-3 {
    display: none;
  }
}
